<nav class="flex justify-center align-center space-x-4 bg-[#3671b9] text-white">
  <ul class="w-full flex flex-row justify-between p-5">
    <li>
      <%= link_to "", categories_path, class: "text-xl fa-solid fa-arrow-left" %>
    </li>
    <li>
      <h1 class="text-xl text-center uppercase">Category details</h1>
    </li>
    <li>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "text-white text-xl uppercase" %>
    </li>
  </ul>
</nav>
<p style="color: green"><%= notice %></p>

<div class="shadow-lg border p-4 flex flex-col text-center mb-6">
  <div class="flex justify-between">
    <p class="text-gray-700 uppercase">Total Transactions:</p>
    <p class="text-gray-700">$<%= @category.expenses.inject(0) { |total, e| total + (e.amount) } %></p>
  </div>
</div>

<% @expenses.each do |transaction| %>
  <div class="shadow-lg border p-4 flex flex-col text-center mb-6">
    <div class="flex justify-between">
      <div>
        <%= @category.icon %>
      </div>
      <div>
        <p class="text-gray-700 uppercase"><%= transaction.name %></p>
        <p class="text-gray-700 uppercase"><%= transaction.created_at.strftime("%m/%d/%Y %I:%M %p") %></p>  
      </div>
      <div>
        <p>$<%= transaction.amount %></p>
      </div>
    </div>
  </div> 
<% end %>

<div class="text-center">
  <%= link_to "Add new transaction", new_expense_path, class: "w-full bg-[#3671b9] rounded-3xl p-3 text-white font-bold hover:bg-[#003087] text-center uppercase" %>
</div>

