<div class="min-h-screen flex justify-center items-center bg-white mt-5">
  <div class="p-10 border-[1px] -mt-10 border-slate-200 rounded-md flex flex-col items-center space-y-3">
    <%= form_with(model: expense) do |form| %>
      <% if expense.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

          <ul>
            <% expense.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="py-3">
        <%= form.text_field :name, class: "p-3 border-[1px] border-slate-500 rounded-sm w-80 focus:outline-none", placeholder: 'Enter Transaction Name' %>
      </div>

      <div class="py-3">
        <%= form.number_field :amount, class: "p-3 border-[1px] border-slate-500 rounded-sm w-80 focus:outline-none", placeholder: 'Enter Amount' %>
      </div>

      <div class="py-3">
        <%= form.select :categories_ids, @categories.collect {|category| [category.name, category.id]}, { include_blank: false }, multiple: true, class: "p-3 border-[1px] border-slate-500 rounded-sm w-80 focus:outline-none text-gray-700" %>
      </div>

      <div class="py-3">
        <%= form.submit 'Save', class: "w-80 border-blue-900 hover:border-[#003087] hover:border-[2px] border-[1px] rounded-3xl p-3 text-[#0070ba] font-bold text-center focus:outline-none" %>
      </div>
    <% end %>
  </div>
</div>

