<p style="color: green"><%= notice %></p>

<%= render @expense %>

<div>
  <%= link_to "Back to transactions", expenses_path %>
  <%= link_to "Back to categories", categories_path %>
  <%= button_to "Destroy this expense", @expense, method: :delete %>
</div>
